@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .word-break {
    word-break: break-word;
  }

  .no-select-webkit::-webkit-selection {
    background-color: purple;
  }
}

::selection {
  color: #fff;
  background: theme(colors.primary-500);
}

::-webkit-selection {
  color: #fff;
  background-color: theme(colors.primary-500);
}

button,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

input[type="password"] {
  font-weight: 600;
}

input[type="file"],
img {
  -webkit-user-select: none;
  user-select: none;
}

.no-select {
  user-select: none;
}

img {
  -webkit-touch-callout: none;
}
